@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  body::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #000; }

.heading__1 {
  font-size: 11rem;
  line-height: 1; }
  .heading__1-light {
    color: #fff; }
  .heading__1-dark {
    color: #000; }

.heading__5 {
  font-size: 2rem; }
  .heading__5-light {
    color: #fff; }
  .heading__5-dark {
    color: #000; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-huge {
  margin-top: 10rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-left-medium {
  margin-left: 3rem !important; }

.u-margin-right-medium {
  margin-right: 3rem !important; }

.bg-video {
  flex: 0 0 50%;
  width: 100%;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #000;
  display: inline-block;
  text-decoration: none;
  border-bottom: 4px solid currentColor;
  padding: 3px;
  transition: all .2s; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-close,
.btn-search {
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .btn-close:active,
  .btn-search:active {
    transform: translateY(2px); }
  .btn-close svg,
  .btn-search svg {
    height: 2.6rem;
    width: 2.6rem;
    fill: #000; }

.search {
  width: 50vw;
  display: flex;
  height: 100%; }
  .search__input {
    width: 100%;
    margin-left: 5rem;
    font-family: inherit;
    font-size: inherit;
    align-self: center;
    border: none;
    color: inherit;
    padding: .7rem 2rem; }
    .search__input:focus {
      outline: none;
      background-color: transparent; }

.footer {
  background-color: yellowgreen;
  height: 40rem; }

.header {
  background-color: #fff;
  height: 11rem;
  width: 100vw;
  position: fixed;
  z-index: 11;
  display: grid;
  grid-template-columns: max-content 1fr max-content; }
  .header__text-box {
    display: flex;
    margin: 1rem 0 1rem 1.5rem; }
  .header__text-title {
    width: 11rem;
    font-size: 2rem;
    font-weight: 800; }
  .header__text-desc {
    width: 8rem;
    font-size: 1.2rem; }
  .header__text-title, .header__text-desc {
    align-self: flex-end;
    margin: 0.5rem;
    line-height: 1; }
  .header-border {
    background-color: #ccc; }
  .header__btn {
    display: flex;
    align-items: center; }
    .header__btn button {
      margin: 0 2.5rem; }
    .header__btn hr {
      height: 11rem; }

.nav {
  align-self: stretch;
  justify-self: end;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.8px; }
  .nav__item {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer; }
    .nav__item:not(:last-child) {
      padding: 0 5rem; }
    .nav__item:last-child {
      margin-right: 2.5rem; }

.section-intro {
  display: flex;
  padding-top: 11rem; }
  .section-intro .intro__text {
    flex: 1;
    display: flex;
    background-image: linear-gradient(rgba(31, 111, 120, 0.8), rgba(31, 111, 120, 0.8)), url("/img/bg.jpg");
    background-position: center;
    padding: 12rem 20rem 16rem 16rem; }
    .section-intro .intro__text-box {
      display: flex;
      flex-direction: column; }
      .section-intro .intro__text-box h1 {
        margin-left: -1rem; }
    .section-intro .intro__text-desc {
      max-width: 40rem; }
  .section-intro .intro__button {
    font-size: 2.3rem;
    width: fit-content;
    color: #fff; }

.section-features {
  background-color: darkgoldenrod;
  height: 150rem; }

.section-journey {
  background-color: blueviolet;
  height: 70rem; }

.section-about {
  background-color: saddlebrown;
  height: 70rem; }

.section-acknowledgement {
  background-color: darkorange;
  height: 25rem; }

.section-modal {
  width: 100vw;
  min-height: calc(100vh - 11rem);
  background-color: blue;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; }
