@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  body::-webkit-scrollbar {
    width: 0 !important; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-huge {
  margin-top: 10rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-left-medium {
  margin-left: 3rem !important; }

.u-margin-right-medium {
  margin-right: 3rem !important; }

.btn-close,
.btn-search {
  margin: 0 2.5rem;
  border: none;
  background-color: transparent; }
  .btn-close:active,
  .btn-search:active {
    transform: translateY(2px); }
  .btn-close svg,
  .btn-search svg {
    height: 2.6rem;
    width: 2.6rem;
    fill: #000; }

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .search__button {
    border: none;
    background-color: transparent; }
    .search__button:active {
      transform: translateY(2px); }

.footer {
  background-color: yellowgreen;
  height: 40rem; }

.header {
  background-color: #fff;
  height: 11rem;
  display: flex;
  align-items: center; }
  .header__text-box {
    display: flex;
    margin-left: 1.5rem;
    margin-right: auto; }
  .header__text-title {
    width: 12rem;
    font-size: 2rem;
    font-weight: 800; }
  .header__text-border {
    margin: 0 1rem;
    background-color: #ccc; }
  .header__text-desc {
    width: 8rem;
    font-size: 1.2rem; }
  .header__text-title, .header__text-desc {
    align-self: flex-end;
    margin: 1rem 0;
    line-height: 1; }

.nav {
  align-self: stretch;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.8px; }
  .nav__item:not(:last-child) {
    margin-right: 5rem; }
  .nav__item:last-child {
    margin-right: 2.5rem; }

.section-intro {
  background-color: palevioletred;
  height: 90rem; }

.section-features {
  background-color: darkgoldenrod;
  height: 150rem; }

.section-journey {
  background-color: blueviolet;
  height: 70rem; }

.section-about {
  background-color: saddlebrown;
  height: 70rem; }

.section-acknowledgement {
  background-color: darkorange;
  height: 25rem; }
