.header {
  background-color: #fff;

  min-height: 11rem;

  display: grid;
  grid-template-columns: max-content 1fr max-content;

  &__text{    
    &-box {
      display: flex;
      margin: 1rem 0 1rem 1.5rem;
    }

    &-title {
      width: 11rem;
      font-size: 2rem;
      font-weight: 800;
    }
  
    &-desc {
      width: 8rem;  
      font-size: 1.2rem;
    }

    &-title,
    &-desc {
      align-self: flex-end;
      margin: 0.5rem;
      line-height: 1;
    }
  }

  &-border {
    background-color: #ccc;
  }

  &__btn{
    display: flex;
    align-items: center;

    button{
      margin: 0 2.5rem;
    }

    hr {
      height: 11rem;
    }
  }
}