.nav {
  align-self: stretch;
  justify-self: end;
  
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.8px;

  &__item{
    display: flex;
    align-items: center;

    height: 100%;

    cursor: pointer;
    
    &:not(:last-child){
      padding: 0 5rem;
    }

    &:last-child {
      margin-right: 2.5rem;
    }
  }
}