.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__input {
  }

  &__button {
    border: none;
    background-color: transparent;

    &:active {
      transform: translateY(2px);
    }
  }
}