.search {
  width: 50vw;
  display: flex;
  height: 100%;

  &__input {
    width: 100%;
    margin-left: 5rem;
    font-family: inherit;
    font-size: inherit;
    align-self: center;
    border: none;
    color: inherit;
    padding: .7rem 2rem;

    &:focus {
      outline: none;
      background-color: transparent;
    }
  }
}