.section-intro{
  background-color: palevioletred;
  height: 90rem;
}

.section-features{
  background-color: darkgoldenrod;
  height: 150rem;
}

.section-journey{
  background-color: blueviolet;
  height: 70rem;
}

.section-about{
  background-color: saddlebrown;
  height: 70rem;
}

.section-acknowledgement{
  background-color: darkorange;
  height: 25rem;
}