.section-intro{
  display: flex;
  padding-top: 11rem;
  background-color: #56b2bd;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");  
  background-position: center;

  .bg-video {
    flex: 1;
  }

  .intro {
    flex: 0 0 50%;
    display: flex;

    padding: 14rem;
    
    color: #fff;

    &__text-box{
      display: flex;
      flex-direction: column;
      max-width: 48rem;
    }

    &__heading {
      margin-left: -1rem;
      margin-bottom: 4rem;

      font-size: 10.4rem;
      font-weight: 700;
    }

    &__desc {
      margin-bottom: 4rem;
      font-size: 2.2rem;
      font-weight: 400;
      word-spacing: 2px;
      letter-spacing: 1px;
    }

    &__button {
      font-size: 2.3rem;
      font-weight: 700;
      color: inherit;
    }
  }
}


.section-features{
  padding: 18rem 24rem;

  display: flex;
  flex-direction: column;

  background-color: #f1eeea;

  .features {
    display: flex;

    &__text-box {
      flex: 0 0 50%;

      display: flex;
      flex-direction: column;

      &--1 {
        padding-right: 10rem;
      }

      &--2 {
        padding: 8rem 0 12rem 10rem;
      }
    }

    &__highlight {
      color: #944801;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &__heading {
      &-primary {
        font-size: 6rem;
      }

      &-secondary {
        font-size: 3.8rem;
      }

      &-primary,
      &-secondary {
        word-spacing: 2px;
        letter-spacing: 1px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 3rem;
      }
    }

    &__paragraph{
      color: #583506;
      font-size: 2.2rem;
      font-weight: 400;
      word-spacing: 2px;
      letter-spacing: 1px;
      line-height: 1.2;
    }

    .composition {
      flex: 1;
    }

    &:not(:last-child){
      margin-bottom: 18rem;
    }
  }
}

.section-journey{
  background-color: blueviolet;
  height: 70rem;
}

.section-about{
  background-color: saddlebrown;
  height: 70rem;
}

.section-acknowledgement{
  background-color: darkorange;
  height: 25rem;
}

.section-modal {
  width: 100vw;
  min-height: calc(100vh - 11rem);
  background-color: blue;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}